<div class="py-5 border-top">
  <div class="container">

    <!-- <p class="h5 mb-3">{{ site.title | escape }}</p> -->
    <!-- <br><br> -->
    
    <div class="row">

      <div class="col-sm">
        <ul class="list-unstyled">
          <li>ETH or ERC20 Tokens:<br />0x6db62b8a4CE0394b9c00F5BE6C475d4b2Bc70eA3</li>
          <li>BTC: 1dDD9KdpSer7RC3Bi8ynoF8hLqpkhhxNV</li>
        </ul>
      </div>

<!-- 
      <div class="col-sm text-right">
        <p>{{- site.description | escape -}}</p>
        <p>
          <a href="https://kascheri12.github.io/">kascheri12.github.io</a>
        </p>
      </div> -->

    </div>

  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript"></script> 
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<!-- <script type="text/javascript">
$(function() {
  $('.page-content h3').css('cursor','pointer');
  $(".page-content h3").nextUntil("h3").slideToggle();
  $(".page-content h3").click(function() {$(this).nextUntil("h3").slideToggle();});
});
</script> -->
