
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript"></script> 
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(function() {
  // $(".markdown-body").accordion();
  // $(".markdown-body").accordion({ header: "h3", collapsible: true, active: false ,heightStyle: "content" });
  
  $('.markdown-body h3').css('cursor','pointer');
  $(".markdown-body h3").nextUntil("h3").slideToggle();
  $(".markdown-body h3").click(function() {$(this).nextUntil("h3").slideToggle();});
});
</script>
