<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109439081-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109439081-1');
</script>


<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css" rel="stylesheet" />

<!-- 

<script type="text/javascript">
$(document).ready(function(){
$('.markdown-body h3').css('cursor','pointer');
$(".markdown-body h3").nextUntil("h3").slideToggle();
$(".markdown-body h3").click(function() {$(this).nextUntil("h3").slideToggle();});
});

// $(function() {
//     $( ".markdown-body" ).accordion();
//     $(".markdown-body").accordion({ header: "h3", collapsible: true, active: false ,heightStyle: "content" });
//   });
</script> 

-->
